body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: rgba(249, 247, 241, 1);
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}

.content {
    text-align: center;
    margin-top: 1%;
}   

.article {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-right: 1px black solid;
    border-left: 1px black solid;
    top: 0;
}

.article:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.article, .article:hover {
    transition: background-color .5s;
}

.title {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.article * {
    text-decoration: none;
    color: #2f2f2f;
}

}
@media only all and (max-width: 600px) {
    .collumn{
        width: 100%;
    }
    .collumn + .collumn {
                border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}