body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: rgba(249, 247, 241, 1);
}

body, .article{
    background-color: rgba(249, 247, 241, 1);
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}

.content {
    text-align: center;
    margin-top: 1%;
    background:
    linear-gradient(63deg, rgba(249, 247, 241, 1) 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, rgba(249, 247, 241, 1) 78%),
    linear-gradient(63deg, transparent 34%, rgba(249, 247, 241, 1) 38%, rgba(249, 247, 241, 1) 58%, transparent 62%),
    rgba(47, 47, 47, .1);
    background-size: 16px 48px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
}   

.article {
    width: 29%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-right: 1px black solid;
    border-left: 1px black solid;
    top: 0;
    margin-top: 1%;
}

.article:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.article, .article:hover {
    transition: background-color .5s;
}

.title1 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.title2 {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.title3 {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.article * {
    text-decoration: none;
    color: #2f2f2f;
}

.media {
    max-width: 100%;
    filter: grayscale(100%);
}

}
@media only all and (max-width: 600px) {
    .collumn{
        width: 100%;
    }
    .collumn + .collumn {
                border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}